<%= form_for(@gallery) do |form| %>
    <div class="field">
      <%= form.label :name%>
      <%= form.text_field :name, :required => true %>
    </div>

    <div class="field">
      <%= form.label :location %>
      <%= form.text_field :location, :required => true %>
    </div>

    
    <div class="action">
      <%= form.submit "Update gallery" %>
    </div>
<% end %>